/* $Id: styles.css,v 1.1.2.2.2.1 2011/01/11 01:08:49 dvessel Exp $ */

h1#site-name {
  margin-bottom: 0;
}

h1 {
font: 30px/1.5em "Georgia","Georgia Regular", "Times New Roman", serif;
color: #00ADEE;
padding: 0 0 0.5em;
margin: 0;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 1.5em;
}

ul.main-menu,
ul.secondary-menu {
  display: block;
  margin: 0;
  padding: 0;
}

/**
 *
 * Menu styling
 *
 */

.menu li.leaf,
.menu li.expanded,
.menu li.collapsed
{
  border-top: solid 1px #cecece;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  list-style-type: none;
  padding: 5px 20px;
}
.menu li li.leaf,
.menu li li.expanded,
.menu li li.collapsed{
  border-top: none;
  padding-bottom:0px;
}
li a, {
  text-decoration: none !important;
  color: black;
}
a {
  text-decoration: none;
  color: #00ADEE;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .menu a {
  color:black;
}

/* END MENU */
body {
  font: 11px/17px "Arial Regular", Arial, "Helvetica Neue", helveticas, sans-serif;
  letter-spacing: 0.03em;
  background-color: #EEEFF0;
}

.thelead {
  color: #343434;
  font-size: 17px;
  line-height: 24px;
}

.active {
  font-weight: bold;
}

#site-header, #sidebar-left, #site-header, #main{
  background-color:white;
}

#site-header {
  margin-bottom:10px;
  padding: 0 0 10px 0;
  outline: 1px solid #DDD;

}

#main-area {
  background-color:white;
  padding:10px 0 0 0 ;
 outline: 1px solid #DDD;
}

#main {
  overflow: hidden;
}

.view-partners-block .field-name-field-logo img,
.view-software .field-name-field-logo img,
.view-technology .field-name-field-logo img,
.view-partners .field-name-field-logo img,
.view-demonstrators .field-name-field-logo img {
  float:right;
}

.view-software .views-row-even .field-name-field-logo img,
.view-technology .views-row-even .field-name-field-logo img,
.view-partners .views-row-even .field-name-field-logo img,
.view-demonstrators .views-row-even .field-name-field-logo img {
  float:left;
}

.view-software .views-row,
.view-technology .views-row,
.view-demonstrators .views-row,
.view-partners .views-row {
  clear:both;
  padding:10px 10px 0px 0px;
  padding-bottom:30px;
  border-top: solid 1px #cecece;
}
.view-partners-block .views-slideshow-cycle-main-frame  {
  border-top: solid 1px #cecece;
  margin:10px 0;
  padding:5px 0;
}

.dropshadow{
  -moz-box-shadow: 2px 2px 3px #DDD;
  -webkit-box-shadow: 2px 2px 3px #DDD;
  box-shadow: 2px 2px 3px #DDD;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAA')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAA');
}

.debug {
  background-color:green;
}

#footer{
  color: #8C8C8C;
  padding:10px 150px 10px 10px;
}

#footer #block-block-1 div.content {
  padding-bottom:50px;
  width:920px;
  border-top: solid 1px #CECECE;
  text-align:center;
  font-weight:bold;
}

/*.menu li.first{ border-top: solid 0px #cecece;} */

/**
 *
 * Ticker block
 *
 */

 #block-views-semantic-news-block-1 {
   position: fixed;
   bottom: 0px;
   font-size:120%;
   background-color: white;
   border: 1px dotted grey;
   width: 900px;
   margin: 0 auto;
   padding: 3px;
   z-index: 50;
   -moz-box-shadow: 0px 0px 13px #DDD;
   -webkit-box-shadow: 2px 2px 3px #DDD;
   box-shadow: 0px 0px 20px #BBB;
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAA')";
   filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#AAA');
 }

 #block-views-semantic-news-block-1 .view-header p{
   margin:0;
 }

 #block-views-semantic-news-block-1 .view-header {
   float:left;
 }
 #block-views-semantic-news-block-1 .views-row {
  padding-left:120px;
}
}
/* END TICKER BLOCK */
